@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101216;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  border: 1px solid;
  border-image: linear-gradient(to bottom, #CD7D2E, #BC4A1B) 1;
}

.search:focus {
  outline: none;
}

.gradient-text {
  background: linear-gradient(to bottom, #CD7D2E, #BC4A1B);

  color: transparent;

  /* Standard syntax */
  mask-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.7) 100%);

  /* WebKit browsers (Safari, Chrome) */
  -webkit-mask-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.7) 100%);

  background-clip: text;
  /* Needed for gradient text effect */
  -webkit-background-clip: text;
  /* Safari & Chrome */
}



.img-mask {
  display: inline-block;
  mask-image: url("/placement-mask.svg");
  -webkit-mask-image: url("/placement-mask.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.small-mask {
  mask-size: 35;
  -webkit-mask-size: 35;
  mask-position: center 5;
  -webkit-mask-position: center 5;
  outline: 5px solid greenyellow;
  outline-offset: 10px;
  background: red;
}

.big-mask {
  mask-size: 80;
  -webkit-mask-size: 80;
  mask-position: center 15;
  -webkit-mask-position: center 15;
}

.top-one {
  transform: scale(1.5)
}

.top-three {
  transform: scale(1.2);
}